   body{
   	margin: 0;
   	font-size: 14px;
	line-height: 1.4;
	color:#8c9398;
	font-weight: 500;
   }
   .categories-item::after {
   	content: '';
   	display: block;
   	background-color: #3dc9b3;
   	width: 150px;
   	height: 150px;

   }
   .categoties-item-computer::after{
   	background-image: url(../img/icon.jpg);
   }